extends ../layout.jade

block title
    title Login - KitChat
    
block css
    link(rel='stylesheet',href='css/auth/login.css')
    
block content
    - var loginResponse = {message}
    
    div.box
        div.kitchat-branding.center-block
            img(id="kitchat-logo" src="img/Kitchat_Trans.png")
        if loginResponse.message == ""
            p.welcoming-text Please Login
        else
            p.welcoming-text Login Failed! Please Try Again
        form.login-form(method = 'post', action = '/login')
            div.row
                input(id="username",name="username",placeholder="Username",type="text")
            div.row
                input(id="pwd",name="password",placeholder="Password",type="password") 
            button(type="submit",class="btn btn-default").
                LOGIN
        a.register-link(href="/register") Don't have an account? Register
