div#chat-page
    div.container(width:100%;)
        div.frd-div
            a(href="#")
                img.back-arrow(src="img/arrows.svg")
            img.frd-pic.img-rounded.center-block(src="img/test.png")
            p.frd-name ปฏิวัติหัวใจกับนายโอชา
        div.chat-div.scrollable
            each val in [1,2,3,4,5]
                div.row(width:100%;)
                    img.frd-chat-pic.img-rounded(src="img/test.png")
                    div.frd-balloon 
                        p ใครเล่นผมนี่ผมรู้หมดนะ เดี๋ยวทุ่มด้วยโพเดียมเลย!!
                div.row(width:100%;)
                    div.self-balloon
                        p โอ๋นะ ล้อเล่นเฉยๆ
        div.type-div
            span
                input(type="text",placeholder="Type Message")
                button.btn.send-btn
                    strong SEND
                    
            
