extends ./layout.jade

block title
    title Let's Talking! - KitChat

block css
    link(rel='stylesheet',href='css/chat.css')

block content
    ul.nav.nav-pills.tab
        li
            img.web-branding(src="img/Kitchat_Trans.png")
        li
            a(data-toggle="tab",href="#group")
                i.material-icons supervisor_account
        li
            a(data-toggle="tab",href="#chat")
                i.material-icons chat
        li.active
            a(data-toggle="tab",href="#test") test
        //- li
        //-     a(data-toggle="tab",href="#chat-page")
        //-        i.material-icons question_answer
        li
            a(href="/logout")
                i.material-icons exit_to_app
    div.tab-content.container
        div.col-sm-12.col-xs-12#group.tab-pane.fade(ng-controller="groupListCtrl")
            div.firefox-fixed
                h1.heading Chat Group
                div#fab-add-group(data-toggle="modal",data-target="#add-group-modal")
                    a +
                //- for group in grouplist
                div.chat-group.col-sm-3.col-xs-6(ng-repeat="group in unjoinedgroups")
                    div.box(ng-click="joinGroup(group.name)")
                        div.group-circle.center-block
                            span(ng-bind="group.name | limitTo:2")
                        h3.group-name 
                            span(ng-bind="(group.name | limitTo:5) + '...'")
                        //- div.group-circle.center-block !{JSON.stringify(group.name).substr(1,2)}
                        //- h3.group-name !{(group.name).substr(0,10)+'...'}
        div.col-sm-12.col-xs-12#chat.tab-pane.fade(ng-controller="messageListCtrl")
            h1.heading Message
            //- each val in [1,2,3,4]
            div.chat-item.col-sm-6.col-xs-12(ng-repeat="msg in joinedgroups")
                div.chat-box.col-sm-12.col-xs-12(ng-click="navigateToChatRoom('/room')")
                    div.col-sm-3.col-xs-3.group-circle
                        span(ng-bind="msg.group | limitTo:2")
                    div.col-sm-9.col-xs-9.group-name
                        div.row.chat-group-name
                            span(ng-bind="msg.group")
            div(ng-view)
        div.col-sm-12.col-xs-12#test.tab-pane.fade.in.active
            h1 Test
            a(href="#/list") List
            a(href="#/room") Room
            //- div(ng-view)
  

    div#add-group-modal.modal.fade(tabindex="-1",role="dialog",ng-controller="addGroupCtrl",add-modal)
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button(type="button",class="close",data-dismiss="modal",aria-label="Close")
                        span(aria-hidden="true").
                            &times;
                    h4.modal-titles
                        strong Create Group
                //- form
                div.modal-body
                    input(ng-model="groupname",placeholder="Name",type="text")
                    span.highlight
                    span.bar
                div.modal-footer
                    button(type="button",class="btn btn-default",data-dismiss="modal").
                        Close
                    button(ng-click="createGroup()",class="btn btn-default").
                        Create Group

block js
    script(src="angular/chat.js")
    
