extends ./layout.jade

block title
    title Let's Talking! - KitChat

block css
    link(rel='stylesheet',href='css/chat.css')

block content
    ul.nav.nav-pills.tab
        li
            img.web-branding(src="img/Kitchat_Trans.png")
        li.active
            a(data-toggle="tab",href="#group")
                i.material-icons supervisor_account
        li
            a(data-toggle="tab",href="#chat")
                i.material-icons chat
        li
            a(href="/logout")
                i.material-icons exit_to_app
    div.tab-content.container
        div.col-sm-12.col-xs-12#group.tab-pane.fade.in.active(ng-controller="groupListCtrl")
            h1.heading Chat Group
            div#fab-add-group(data-toggle="modal",data-target="#add-group-modal")
                a +
            //- for group in grouplist
            div.chat-group.col-sm-3.col-xs-6(ng-repeat="group in groups")
                div.box
                    div.group-circle.center-block {{twoLetterGroupName(group.name)}}
                    h3.group-name {{groupnameToDisplay(group.name)}}
                    //- div.group-circle.center-block !{JSON.stringify(group.name).substr(1,2)}
                    //- h3.group-name !{(group.name).substr(0,10)+'...'}
        div.col-sm-12.col-xs-12#chat.tab-pane.fade
            h1.heading Message
            each val in [1,2,3,4]
                div.chat-item.col-sm-6.col-xs-12
                    div.chat-box.col-sm-12.col-xs-12
                        div.noti-count 33
                        div.col-sm-3.col-xs-3.group-circle HA
                        div.col-sm-9.col-xs-9.group-name
                            div.row.chat-group-name WTF
                            div.row.chat-group-latest-msg เฮ้ยมึง...

    div#add-group-modal.modal.fade(tabindex="-1",role="dialog",ng-controller="addGroupCtrl",add-modal)
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button(type="button",class="close",data-dismiss="modal",aria-label="Close")
                        span(aria-hidden="true").
                            &times;
                    h4.modal-titles
                        strong Create Group
                //- form
                div.modal-body
                    input(ng-model="groupname",placeholder="Name",type="text")
                    span.highlight
                    span.bar
                div.modal-footer
                    button(type="button",class="btn btn-default",data-dismiss="modal").
                        Close
                    button(ng-click="sendPost()",class="btn btn-default").
                        Create Group

block js
    script(src="angular/chat.js")
    
