doctype html
html
    head(lang='en')
        meta(charset='utf-8')
        title KitChat - Coming Soon
        meta(name='viewport',content='initial-scale=1')
        link(rel='stylesheet',href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic')
        link(rel='stylesheet',href='css/home.css')
    body
        div.box
            div.kitchat-branding.center-block
                img(id="kitchat-logo" src="img/KitChat_Trans.png")
            p COMING SOON
