extends ./layout.jade

block title
    title KitChat - Coming Soon

block css
    link(rel='stylesheet',href='css/home.css')
    
block content
    div.box
        div.kitchat-branding.center-block
            img(id="kitchat-logo" src="img/KitChat_Trans.png")
        p COMING SOON
