html,body{
    background-color: #ec2227;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    color:#ffffff;
}

.box{
    display: table-cell;
    vertical-align: middle;
}

.box p{
    font-size: 30px;
}

#kitchat-logo{
    width: 45%;
}
