@import "./public/less/variables.less";

html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#toast-container>div{
    opacity: 1;
}
.tab{
    text-align: center;
    border-bottom: 2px solid @main-theme;
    li{
        display: inline-block;
        .web-branding{
            padding-left: 14px;
            padding-right: 14px;
            height:50px;
            @media(max-width: 768px){
                padding-right: 5px;
                height:41px;
            }
        }
        >a{
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 0;
            color:@main-theme;
            .material-icons{
                font-size: 41px;
                @media(max-width: 768px){
                    font-size: 26px;
                }
            }
            .tab-label{
                font-size: 20px;
            }
            &:hover,&:focus{
                background-color: @main-theme;
                color:@white;
            }
        }
    }
    li.active>a{
        background-color: @main-theme;
        &:hover,&:focus{
            background-color: @main-theme;
        }
    }
}

.tab-content{
    overflow-y: scroll;
    height:calc(100%-7px);
    &::-webkit-scrollbar{
        display: none;
    }
    @media(max-width: 768px){
        padding-left: 0px;
        padding-right: 0px;
    }
    .tab-pane{
        padding-left: 0px;
        padding-right: 0px;
    }
}

.heading{
    text-align: center;
    margin-bottom: 20px;
    @media(max-width: 768px){
        font-size: 22px;

    }
}
#group{
    #fab-add-group {
        position: fixed;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border: none;
        font-size: 40px;
        line-height: 55px;
        color: @white;
        background-color: #c62828;
        text-align: center;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
        right: 3%;
        bottom: 4%;
        z-index: 99999;
        cursor: pointer;
        .nice-transition();
        a{
            color: @white;
            cursor: pointer;
            text-decoration: none;
        }
        &:hover{
            text-decoration: none;
            background-color: #a62020;
            transform: scale(1.2);
        }
        @media(max-width: 768px){
            width: 50px;
            height:50px;
            font-size:38px;
            line-height: 43px;
            right:5%;
            bottom:3%;
        }
    }
    .chat-group{
        padding-left:5px;
        padding-right: 5px;
        padding-bottom: 15px;
        text-align: center;
        .box{
            border:3px solid @main-theme;
            padding-top: 15px;
            padding-bottom: 15px;
            .nice-transition();
            .group-circle{
                .circle-icon(@main-theme,@white,100px);
                text-transform: uppercase;
            }
            .group-name{
                .make-ellipsis-text();
                @media(max-width: 768px){
                    font-size: 20px;
                    font-weight: 400;
                    margin-top: 10px;
                }
            }
            &:hover{
                background-color: @main-theme;
                color: @white;
                .box-shadow();
            }
        }
    }
    .no-group-text{
        text-align: center;
    }
}
#add-group-modal{
    .modal-header{
        color: @main-theme;
        background-color: @white;
        border-radius: 5px;
    }
    input{
      font-size:18px;
      padding:10px 10px 10px 5px;
      display:block;
      width:90%;
      border:none;
      border-bottom:1px solid #757575;
    }
    input:focus{ outline:none; }
    /* LABEL ======================================= */

    label{
      color:@main-theme;
      font-size:18px;
      font-weight:normal;
      position:absolute;
      pointer-events:none;
      left:5px;
      top:10px;
      transition:0.2s ease all;
      -moz-transition:0.2s ease all;
      -webkit-transition:0.2s ease all;
    }

    /* active state */
    input:focus ~ label, input:valid ~ label{
      top:-20px;
      font-size:14px;
      color:@main-theme;
    }

    /* BOTTOM BARS ================================= */
    .bar 	{ position:relative; display:block; width:90%; }
    .bar:before, .bar:after{
      content:'';
      height:2px;
      width:0;
      bottom:1px;
      position:absolute;
      background:@main-theme /*#5264AE*/;
      transition:0.2s ease all;
      -moz-transition:0.2s ease all;
      -webkit-transition:0.2s ease all;
    }
    .bar:before {
      left:50%;
    }
    .bar:after {
      right:50%;
    }

    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after {
      width:50%;
    }

    /* HIGHLIGHTER ================================== */
    .highlight {
      position:absolute;
      height:60%;
      width:90%;
      top:25%;
      left:0;
      pointer-events:none;
      opacity:0.5;
    }
    @media(max-width: 768px){
      input{
        font-size: 15px;
        width:80%;
      }
      label{
        font-size: 15px;
        left:0px;
      }
      .bar{
        width:80%;
      }
    }
    /* active state */
    input:focus ~ .highlight {
      -webkit-animation:inputHighlighter 0.3s ease;
      -moz-animation:inputHighlighter 0.3s ease;
      animation:inputHighlighter 0.3s ease;
    }

    /* ANIMATIONS ================ */
    @-webkit-keyframes inputHighlighter {
	     from { background: @main-theme/*#5264AE*/; }
       to 	{ width:0; background:transparent; }
     }
     @-moz-keyframes inputHighlighter {
	      from { background:@main-theme/*#5264AE*/; }
        to 	{ width:0; background:transparent; }
      }
      @keyframes inputHighlighter {
	       from { background:@main-theme/*#5264AE*/; }
         to 	{ width:0; background:transparent; }
       }
       .modal-footer{
         .btn:nth-child(1){
          //  border:1px solid @main-theme;
           color: red;
           background-color: @white;
           border:0px;
         }
         .btn:nth-child(1):hover{
           color: @white;
           background-color: red;
          //  border:1px solid red;
         }
         .btn:nth-child(2){
          //  border:1px solid @main-theme;
           color: @main-theme;
           background-color: @white;
           border:0px;
         }
         .btn:nth-child(2):hover{
           color: @white;
           background-color: @main-theme;
          //  border:1px solid @main-theme;
         }
       }
}
#chat{
    .chat-item{
        padding-left:10px;
        padding-right: 10px;
        // height: 100px;
        .chat-box{
            border:3px solid @main-theme;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: 15px;
            .nice-transition();
            cursor: pointer;
            &:hover{
                background-color: #F5F5F5;
                .box-shadow();
            }
            .group-circle{
                text-transform: uppercase;
                text-align: center;
                border-radius: 50%;
                width: 80px;
                height: 80px;
                padding: 12px;
                background: @main-theme;
                border: none;
                color: @white;
                font-size:40px;
                @media(max-width: 768px){
                    width: 50px;
                    height: 50px;
                    padding:12px;
                    font-size: 20px;
                }
            }
            .group-name{
                // display: block;
                // padding-left: 10px;
                .row{
                    margin-left: 0px;
                    margin-right: 0px;
                }
                .chat-group-name{
                    font-size: 36px;
                    font-weight: 600;
                    .make-ellipsis-text();
                    @media(max-width: 768px){
                        font-size: 25px;
                    }
                }
                .chat-group-latest-msg{
                    font-size: 18px;
                    @media(max-width: 768px){
                        font-size: 13px;
                    }
                }
            }
        }

    }
}

#chat-room{
    margin-top: 16px;
    border: 3px solid @main-theme;
    height: 87vh;
    width: 100%;
    .chat-room-title{
        display: block;
        padding-top: 19px;
        padding-bottom: 19px;
        text-align: center;
        background-color: @main-theme;
        color:@white;
        // height: 95px;;
        .back-btn{
            position: absolute;
            font-size: 23px;
            top:7%;
            left: 2%;
            cursor: pointer;
            .nice-transition();
            &:hover{
                color: @yellow;
            }
            @media(max-width: 768px){
                font-size: 19px;
                top:7%;
            }
        }
        .leave-gr-btn{
            position: absolute;
            font-size: 23px;
            top:7%;
            right:2%;
            cursor:pointer;
            .nice-transition();
            &:hover{
                color: @yellow;
            }
            @media(max-width: 768px){
                font-size: 19px;
                top:7%;
            }
        }
        .room-name-circle{
            text-transform: uppercase;
            text-align: center;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            padding: 12px;
            background: @white;
            border: none;
            color: @black;
            font-size:40px;
            @media(max-width: 768px){
                width: 20px;
                height: 20px;
                padding:7px;
                font-size: 15px;
            }
        }
        .room-name{
            font-size: 32px;
            @media(max-width: 768px){
                font-size: 19px;
            }
        }
    }
    .chat-room-message{
        // height:50vh;
        // height:calc(75vh-7px);
        height: 70vh;
        overflow-y: scroll;
        @media(max-width: 768px){
            height:67vh;
        }
        .message{
            padding-top: 5px;
            padding-bottom: 5px;
            .sender-name{
                margin-bottom: 3px;
                font-size: 18px;
                font-weight: 600;
            }
        }
        .message-leftzone{
            // display: inline-block;
            padding-left: 10px;
            .message-left{
                background-color: @material-gray;
                // width: 250px;
                // width: auto;;
                max-width: 50%;
                border-radius: 10px;
                font-size: 15px;
                color: @black;
                padding: 8px;
            }
        }
        .message-rightzone{
            // width: 250px;
            // display: inline-block;
            padding-right: 10px;
            text-align: right;
            .message-right{
                text-align: right;
                background-color: @main-theme;
                display: inline-block;
                max-width: 50%;
                border-radius: 10px;
                font-size: 15px;
                color: @white;
                padding: 8px;
            }
        }

    }
    .chat-room-textfield{
        position: absolute;
        bottom: 0;
        right:0;
        width: 100%;
        // height:30px;
        .wrapper{
            display: inline-block;
            // border: 3px solid @main-theme;
            border-top: 3px solid @main-theme;
            width: 100%;
            input,button{
                background-color: transparent;
                border: 0;
            }
            .message-box{
                width: 88%;
                height:44px;
                padding-left: 13px;
                padding-right: 13px;
                // display: inline-block;
                // margin-left: 5px;
                // margin-right: 6px;
                // height:42px;
                // border-color: @main-theme;
                // border-radius: 0px;
                // @media(max-width: 768px){
                //     width: 78%;
                // }
                &:focus{
                    outline: none;
                }
            }
            .btn-default{
                width: 12%;
                position: absolute;
                right: 0;
                top: 0;
                height:44px;
                border-radius: 0px;
                background-color: @main-theme;
                color:@white;
                // height:42px;
                .nice-transition();
                &:hover{
                    background-color: @red;
                }
                &:focus{
                    outline: none;
                }
                @media(max-width: 768px){
                    width: 22%;
                }
            }
        }

    }
}

#logout-confirmation{
    .modal-footer{
      .btn:nth-child(2){
       //  border:1px solid @main-theme;
        color: red;
        background-color: @white;
        border:0px;
      }
      .btn:nth-child(2):hover{
        color: @white;
        background-color: red;
       //  border:1px solid red;
      }
      .btn:nth-child(1){
       //  border:1px solid @main-theme;
        color: @main-theme;
        background-color: @white;
        border:0px;
      }
      .btn:nth-child(1):hover{
        color: @white;
        background-color: @main-theme;
       //  border:1px solid @main-theme;
      }
    }
}
