@import "./public/less/variables.less";

html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.tab{
    text-align: center;
    border-bottom: 2px solid @main-theme;
    li{
        display: inline-block;
        .web-branding{
            padding-left: 14px;
            padding-right: 14px;
            height:50px;
            @media(max-width: 768px){
                padding-right: 5px;
                height:41px;
            }
        }
        >a{
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 0;
            color:@main-theme;
            .material-icons{
                font-size: 41px;
                @media(max-width: 768px){
                    font-size: 26px;
                }
            }
            .tab-label{
                font-size: 20px;
            }
            &:hover,&:focus{
                background-color: @main-theme;
                color:@white;
            }
        }
    }
    li.active>a{
        background-color: @main-theme;
        &:hover,&:focus{
            background-color: @main-theme;
        }
    }
}

.tab-content{
    overflow-y: scroll;
    height:calc(100%-7px);
    &::-webkit-scrollbar{
        display: none;
    }
    @media(max-width: 768px){
        padding-left: 0px;
        padding-right: 0px;
    }
    .tab-pane{
        padding-left: 0px;
        padding-right: 0px;
    }
}

.heading{
    text-align: center;
    margin-bottom: 20px;
    @media(max-width: 768px){
        font-size: 22px;

    }
}
#group{
    #fab-add-group {
        position: fixed;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border: none;
        font-size: 40px;
        line-height: 55px;
        color: @white;
        background-color: #c62828;
        text-align: center;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
        right: 3%;
        bottom: 4%;
        z-index: 99999;
        cursor: pointer;
        .nice-transition();
        a{
            color: @white;
            cursor: pointer;
            text-decoration: none;
        }
        &:hover{
            text-decoration: none;
            background-color: #a62020;
            transform: scale(1.2);
        }
        @media(max-width: 768px){
            width: 40px;
            height:40px;
            font-size:30px;
            line-height: 35px;
        }
    }
    .chat-group{
        padding-left:5px;
        padding-right: 5px;
        padding-bottom: 15px;
        text-align: center;
        .box{
            border:3px solid @main-theme;
            padding-top: 15px;
            padding-bottom: 15px;
            .nice-transition();
            .group-circle{
                .circle-icon(@main-theme,@white,100px);
                text-transform: uppercase;
            }
            .group-name{
                @media(max-width: 768px){
                    font-size: 20px;
                    font-weight: 400;
                    margin-top: 10px;
                }
            }
            &:hover{
                background-color: @main-theme;
                color: @white;
                .box-shadow();
            }
        }

    }
}
#add-group-modal{
    .modal-header{
        color: @dark-chocolate;
        background-color: @white;
    }
    input{
      font-size:18px;
      padding:10px 10px 10px 5px;
      display:block;
      width:300px;
      border:none;
      border-bottom:1px solid #757575;
    }
    input:focus{ outline:none; }
    /* LABEL ======================================= */
    label{
      color:@dark-chocolate;
      font-size:18px;
      font-weight:normal;
      position:absolute;
      pointer-events:none;
      left:5px;
      top:10px;
      transition:0.2s ease all;
      -moz-transition:0.2s ease all;
      -webkit-transition:0.2s ease all;
    }

    /* active state */
    input:focus ~ label, input:valid ~ label{
      top:-20px;
      font-size:14px;
      color:@dark-chocolate;
    }

    /* BOTTOM BARS ================================= */
    .bar 	{ position:relative; display:block; width:300px; }
    .bar:before, .bar:after{
      content:'';
      height:2px;
      width:0;
      bottom:1px;
      position:absolute;
      background:@dark-chocolate /*#5264AE*/;
      transition:0.2s ease all;
      -moz-transition:0.2s ease all;
      -webkit-transition:0.2s ease all;
    }
    .bar:before {
      left:50%;
    }
    .bar:after {
      right:50%;
    }

    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after {
      width:50%;
    }

    /* HIGHLIGHTER ================================== */
    .highlight {
      position:absolute;
      height:60%;
      width:100px;
      top:25%;
      left:0;
      pointer-events:none;
      opacity:0.5;
    }

    /* active state */
    input:focus ~ .highlight {
      -webkit-animation:inputHighlighter 0.3s ease;
      -moz-animation:inputHighlighter 0.3s ease;
      animation:inputHighlighter 0.3s ease;
    }

    /* ANIMATIONS ================ */
    @-webkit-keyframes inputHighlighter {
	     from { background: @dark-chocolate/*#5264AE*/; }
       to 	{ width:0; background:transparent; }
     }
     @-moz-keyframes inputHighlighter {
	      from { background:@dark-chocolate/*#5264AE*/; }
        to 	{ width:0; background:transparent; }
      }
      @keyframes inputHighlighter {
	       from { background:@dark-chocolate/*#5264AE*/; }
         to 	{ width:0; background:transparent; }
       }
       .modal-footer{
         .btn:nth-child(1){
          //  border:1px solid @dark-chocolate;
           color: red;
           background-color: @white;
           border:0px;
         }
         .btn:nth-child(1):hover{
           color: @white;
           background-color: red;
          //  border:1px solid red;
         }
         .btn:nth-child(2){
          //  border:1px solid @dark-chocolate;
           color: @dark-chocolate;
           background-color: @white;
           border:0px;
         }
         .btn:nth-child(2):hover{
           color: @white;
           background-color: @dark-chocolate;
          //  border:1px solid @dark-chocolate;
         }
       }
}
#chat{
    .chat-item{
        padding-left:10px;
        padding-right: 10px;
        // height: 100px;
        .chat-box{
            border:3px solid @main-theme;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: 15px;
            .noti-count{
                position:absolute;
                left:75px;
                top:12%;
                border-radius: 50%;
                width: 29px;
                height: 29px;
                padding: 5px;
                background: #ff0000;
                border: none;
                color: @white;
                font-size:14px;
                text-align: center;
                z-index: 999;
                @media(max-width: 768px){
                    width: 21px;
                    height: 21px;
                    padding:3px;
                    font-size: 10px;
                    left:49px;
                }
            }
            .group-circle{
                text-transform: uppercase;
                text-align: center;
                border-radius: 50%;
                width: 80px;
                height: 80px;
                padding: 12px;
                background: @main-theme;
                border: none;
                color: @white;
                font-size:40px;
                @media(max-width: 768px){
                    width: 50px;
                    height: 50px;
                    padding:12px;
                    font-size: 20px;
                }
            }
            .group-name{
                // display: block;
                // padding-left: 10px;
                .row{
                    margin-left: 0px;
                    margin-right: 0px;
                }
                .chat-group-name{
                    font-size: 36px;
                    font-weight: 600;
                    @media(max-width: 768px){
                        font-size: 25px;
                    }
                }
                .chat-group-latest-msg{
                    font-size: 18px;
                    @media(max-width: 768px){
                        font-size: 13px;
                    }
                }
            }
        }

    }
}
